@media screen and (min-width:768px)
	#contenido
		
		.item
			display inline-block
			background white
			width 46%

				
			.votos
				width 10%


			.titulo_item 
				width 55%
				float none
				margin 0 0.5em

				a
					font-size 12px
			
			.foto
				display inline-block
				float right

			.autor
				float right
		
					


@media screen and (min-width:1280px)
	#contenido
		
		.item
			display: inline-block
			background white
			width 50%

			.titulo_item figure
				display inline-block
